In [44]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [45]:
data = pd.read_csv('./housing.csv')

In [46]:
#drop column ocean_proximity
data=data.drop('ocean_proximity',axis=1)

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [48]:
X=data.drop('median_house_value',axis=1)
Y=data['median_house_value']

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [50]:
X_train = np.c_[np.ones(X_train.shape[0]), X_train]
X_test = np.c_[np.ones(X_test.shape[0]), X_test]

In [51]:
theta = np.linalg.inv(X_train.T.dot(X_train)).dot(X_train.T).dot(y_train)

In [52]:
def MSE(y_true,y_pred):
    n = len(y_true)
    mse = np.sum((y_true - y_pred) ** 2) / n
    return mse

In [53]:
y_pred = X_test.dot(theta)

In [54]:
mse = MSE(y_test, y_pred)
print("Mean Squared Error (custom):", mse)

Mean Squared Error (custom): 4705519646.393418